.adprof {
  padding: 1px;
  text-align: center;
  margin: 5px 0;
}

/* ADD RETAILER CSS part */
.addret {
  border: 1px solid black;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  width: 40%;

}

form{
  border: 3px solid #dbdada;
}

form label {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 17px;
}

input {
  width: 100%;
  border: 1px solid #808080;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.submitbtn {
  width: 100%;
  padding: 10px;
  margin: 20px 2px;
  background-color: #3131df;
  color: #ffffff;
  font-weight: bold;
}
