.container{
    width: 100%;
    padding: 5px;
    background-color: bisque;
    display: flex;
}

.column1{
    text-align: center;
    padding: auto;
    margin: 5px;
    width: 15%; 
}

.row{
    border: black solid 1px;
    padding: auto;
    margin: 5px;
    background-color: rgb(230, 225, 225);
    text-align: center;
}
.column2{
    padding: auto;
    margin: 5px;
    float: left;
    width: 80%;
}