<div class="row">
  <div class="pitem">
    <div>
      <img
        style="height: 200px; width: 200px"
        src="https://th.bing.com/th/id/OIP.f_oKeWEB86sMjkkgmbWMIwHaHa?w=207&h=207&c=7&o=5&dpr=1.25&pid=1.7"
      />
      <div>
          <span>
              <label>
                  <input type="checkbox">
              </label>
          </span>
          <span>Add to compare</span>
      </div>
    </div>

    <div class="pitem">
        <ul>
          <li>4 GB RAM | 64 GB ROM | Expandable Upto 512 GB</li>
          <li>16.59 cm (6.53 inch) Full HD+ Display</li>
          <li>13MP + 8MP + 5MP + 2MP | 8MP Front Camera</li>
          <li>5020 mAh Battery</li>
          <li>MediaTek Helio G80 Processor</li>
        </ul>
        <br>
        <h3>{{ 12000 | currency: "INR" }}</h3>
    </div>
  </div>
</div>
