<!-- <h4>Item component</h4> -->
<div class="row">
  <div class="pitem">
    <div >
      <img
        style="height: 200px; width: 300px"
        [alt]="productItem.name"
      />

      <div style="background-color: rgb(236, 231, 223);">
        <span>
          <label>
            <input type="checkbox" />
          </label>
        </span>
        <span>Add to compare</span>
      </div>
    </div>

    <div class="row">
      <a routerLink="/">
        <!--redirects to the product description page-->
        <div class="pdesc">
          <span>
            <h3>productItem.name</h3>
          </span>
        </div>
      </a>
      <div class="pdesc">
        <ul>
          <li>productItem.description</li>
        </ul>
      </div>
      <div class="pdesc">
        <span
          ><h3>productItem.price | currency: "INR"</h3></span
        >
      </div>
    </div>
  </div>
</div>
