<div class="row">
  <div class="pitem">
    <div>
      <img
        style="height: 200px; width: 300px"
        [src]="productItem.imageUrl"
      />
      <div>
        <span>
          <h3>{{productItem.name}}</h3>
        </span>
      </div>
      <div>
          <span>
              <label>
                  <input type="checkbox">
              </label>
          </span>
          <span>Add to compare</span>
      </div>
    </div>

    <div class="pitem">
        <div>
          <ul>
            <li>{{productItem.description}}</li>
          </ul>
          <span><h3>{{ productItem.price | currency: "INR" }}</h3></span>
        </div>
    </div>
  </div>
</div>
