<p>showretailers works!</p>
<!-- On clicking on show All button the admin will be redirected to the retailer's table page -->
<!-- Show Retailer Details -->
<div class="adprof"><h3>RETAILER TABLE</h3></div>
<div>
  <table>
    <thead>
      <tr class="trhead">
        <td>Retailer's Id</td>
        <td>Retailer's Name</td>
        <td>Retailer's Email</td>
        <td>Retailer's Mobile No.</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let det of retArray">
        <td>{{ det.retid }}</td>
        <td>{{ det.retname }}</td>
        <td>{{ det.retemail }}</td>
        <td>{{ det.retmobile }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br />

